<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th></th>
       <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%=restaurant.id%></td>
        <td><%= restaurant.name %></td>
        <td><%= link_to 'Find Out More Info on This Restaurant', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a New Restaurant', new_restaurant_path %>

